.sidebar{
    border: 2px solid black;
    height: 100vh;
    flex: 0.24;
    background: #040404;
    min-width: 230px;
    padding: 0px 10px;
    color: white;
}
.sidebar-logo{
    object-fit: contain;
    height: 65px;
    padding: 10px;
}
.sidebar> hr{
    border: 1px solid #282828;
    margin: 10px auto;
    width: 95%;
}
.sidebar-title{
    margin-left: 10px;
    font-size: 12px;
    padding: 5px;
}